body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 100px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #463f3a;
    color: #f4f3ee;
    border-bottom: 6px solid #e0afa0;
    border-radius: 15px;
    box-shadow: 10px 5px 5px #e0afa0;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-right: 100%;
        width: 300%;
    }
}

.card:hover {
    background-color: #e0afa0;
}